name: merge-demo-feature.yml
on:
  push:
    branches:
      - develop

env:
  COOKIECUTTER_ROBUST_PYTHON__DEMOS_CACHE_FOLDER: ${{ github.workspace }}
  COOKIECUTTER_ROBUST_PYTHON__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_PYTHON_DEMO__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_MATURIN_DEMO__APP_AUTHOR: ${{ github.repository_owner }}

jobs:
  update-demo:
    name: Update Demo
    uses: ./.github/workflows/update-demo.yml
    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    with:
      demo_name: ${{ matrix.demo_name }}

  merge-demo-feature:
    name: Merge Demo Feature
    runs-on: ubuntu-latest
    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    steps:
      - name: Checkout Template
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}

      - name: Checkout Demo
        uses: actions/checkout@v4
        with:
          repository: "${{ github.repository_owner }}/${{ inputs.demo_name }}"
          path: ${{ inputs.demo_name }}
          ref: develop

      - name: Set up uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "${{ github.workspace }}/cookiecutter-robust-python/.github/workflows/.python-version"

      - name: Merge Demo Feature PR into Develop
        working-directory: "${{ github.workspace }}/${{ matrix.demo_name }}"
        run: "uvx nox -s merge-demo-feature(${{ matrix.demo_name }}) -- ${{ github.head_ref }}"
