name: merge-demo-feature.yml
on:
  push:
    branches:
      - develop

env:
  COOKIECUTTER_ROBUST_PYTHON__DEMOS_CACHE_FOLDER: ${{ github.workspace }}
  COOKIECUTTER_ROBUST_PYTHON__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_PYTHON_DEMO__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_MATURIN_DEMO__APP_AUTHOR: ${{ github.repository_owner }}

jobs:
  merge-demo-feature:
    name: Merge Demo Feature
    runs-on: ubuntu-latest
    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    steps:
      - name: Checkout Template
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          path: "${{ github.workspace }}/cookiecutter-robust-python"

      - name: Sync Demo
        uses: "./.github/workflows/update-demo.yml"
        with:
          demo_name: ${{ matrix.demo_name }}

      - name: Merge Demo Feature PR into Develop
        working-directory: "${{ github.workspace }}/${{ matrix.demo_name }}"
        run: "uvx nox -s merge-demo-feature(${{ matrix.demo_name }}) -- ${{ github.head_ref }}"
