name: sync-demo.yml
on:
  pull_request:
    branches:
      - develop

env:
  COOKIECUTTER_ROBUST_PYTHON__DEMOS_CACHE_FOLDER: ${{ github.workspace }}
  COOKIECUTTER_ROBUST_PYTHON__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_PYTHON_DEMO__APP_AUTHOR: ${{ github.repository_owner }}
  ROBUST_MATURIN_DEMO__APP_AUTHOR: ${{ github.repository_owner }}

jobs:
  update-demo:
    name: Update Demo
    runs-on: ubuntu-latest

    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    steps:
      - name: Sync Demo
        uses: "./.github/workflows/update-demo.yml"
        with:
          demo_name: ${{ matrix.demo_name }}
