name: sync-demo.yml
on:
  pull_request:
    branches:
      - develop

jobs:
  update-demo:
    name: Update Demo
    runs-on: ubuntu-latest

    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    steps:
      - name: Checkout Template
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}

      - name: Update Demo
        uses: "./.github/workflows/update-demo.yml"
        with:
          demo_name: ${{ matrix.demo_name }}
