name: sync-demo.yml
on:
  pull_request:
    branches:
      - develop

jobs:
  update-demo:
    name: Update Demo
    uses: ./.github/workflows/update-demo.yml
    strategy:
      matrix:
        demo_name:
          - "robust-python-demo"
          - "robust-maturin-demo"
    with:
      demo_name: ${{ matrix.demo_name }}
